@media screen and (max-width: 760px){

  header{
  padding-left: 10%;
  margin-bottom: -15vh;
  }

nav{
  margin-right: -13vh;
  display: none;
}

main{
  display: flex;
  margin-top: -50px;
}

.projeto-titulo{
  margin-bottom: -250px;
  font-size: 35px;
}

.linha-projetos{
  font-size: 17;
}

section > article{
  margin-left: -5vh;
}

  .imagem{
    display: none;
  }

  section{
    flex-direction: column;
    padding-left: 6vh;
  }

  .telegram{
    display: none;
  }
  
  .whattsapp{
    display: none;
  }
  
  .linkedin{
    padding-right: 5px;
  }
}


