@media screen and (max-width: 760px){
  header{
    flex-direction: column;
    display: flex;
    gap: -5px;
    padding: 50px;
    text-align: center;
    align-items: center;
  }

nav{
  margin-right: -100px;
}

ul{
  background-color: #162340;
}
  li{
    margin-right: 1em;
  }
  
  .imagem{
    display: none;
  }

}

