@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Aldrich&family=Roboto&display=swap');

:root{
  --cor-header-footer: #162340;
  --cor-span-projetos: #1E3368;
  --cor2-background: #A8C8DC;
  --cor3-habilidades: #211e1e;

  --fonte-meunome: 'Aldrich', sans-serif;
  --fonte-textos: 'Abyssinica SIL', serif;
  --fonte-habilidades: 'Roboto', sans-serif;
}

*{
  margin: 0px;
  padding: 0px;
}

header{
  background-color: #162340;
  color: white;
  padding-bottom: 1em;
  justify-content: space-between;
  height: 7vh;
  display: flex;
}

.titulo{
  padding-left: 2em;
  margin: 20px;
  font-family: var(--fonte-meunome);
  font-size: xx-large;
}

ul{
  display: flex;
  margin: 26px;
  padding-right: 8em;
}

li{
  color: white;
  list-style-type: none;
  cursor: pointer;
  padding-left: 2rem;
}

header a{
  color: white;
  text-decoration: none;
  font-family: var(--fonte-textos);
  font-size: large;
}

body{
  background-color: var(--cor2-background);
}

main{
  display: flex;
  flex-direction: row-reverse;
  margin-top: 80px;
}

aside{
  margin-top: 6em;
  margin-left: 10px;
}


#sobre-mim-titulo{
  text-align: center;
  color: white;
  font-family: var(--fonte-textos);
  font-weight: lighter;
  font-size: 50px;
}

.sobre-mim-subtitulo{
  text-align: center;
  color: #1E3368;
  padding-top: -30px;
  margin-top: -3px;
  font-size: 30px;
}

.sobre-mim-paragrafo{
  text-indent: 30px;
  color: white;
  font-family: var(--fonte-textos);
  font-size: 30px;
  padding-top: 10px;
  line-height: 40px;
}

strong{
  color: var(--cor-span-projetos);
}

.linha{
 color: white;
 font-size: 25px;
 font-weight: 900;
}

article{
  margin: 10em auto auto 10px;
}

.linha-projetos{
  color: var(--cor-span-projetos);
  font-size: 25px;
  font-weight: 900;
}

#projetos{
  padding-top: 200px;
}

div#projetos{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}


h2{
  color: white;
  text-align: center;
  font-family: var(--fonte-habilidades);
  font-size: 45px;
  font-weight: 400;
}

.projeto-titulo{
  margin-top: 200px;
  margin-bottom: -200px;
}

section{
  display: flex;
  padding-bottom: 200px;

}

section > article{
  background-color: #1E3368;
  color: white;
  font-family: var(--fonte-habilidades);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.cursoemvideo{
  color: #ff7262de;
  text-decoration: none;
}

.projeto-android-titulo{
  padding: 5px 0px 0px 0px;
}

.projeto-android-titulo2{
  padding-bottom: 2px;
}

.projeto-android-paragrafo{
  color: rgba(255, 255, 255, 0.637);
}

.projeto-android-paragrafo2{
  color: rgba(255, 255, 255, 0.637);
  padding-bottom: 10px;
}

button{
  margin-bottom: 15px;
 padding: 10px 30px;
 color: white;
 border-radius: 10px;
}

button a{
  color: #1E3368;
  text-decoration: none;
  font-weight: bold;
  font-family: var(--fonte-habilidades);
  font-size: 15px;
}

.projeto-cordel-titulo{
  padding: 15px 0px 15px 0px;
}

.habilidades{
  display: flex;
  justify-content: space-around;
  padding-bottom: 200px;
}

footer{
  background-color: var(--cor-header-footer);
}

#rodape{
  display: flex;
  justify-content: center;
  align-items: center;
}

.instagram{
  padding-top: 10px;
}
.linkedin{
  padding-top: 10px;
}

.email{
  padding-top: 10px;
  padding-right: 10px;
}

.telegram{
  padding-top: 10px;
  padding-left: 3px;
}

.whattsapp{
  padding-top: 6px;
  padding-left: 2px;
}
